header {
    background-color:rgba(0, 0, 0, 0.029)
}

.container h3 {
    color: #797979;
    font-weight: 500;
}

h3 span {

    font-weight: 200;
    
}
.carousel-item img {
width: 100%;

}
.carousel{
    margin: 0 auto;
    width:100%;
    max-height: 648px;
    position: relative;
    overflow-y:hidden;
    
}
.card {
    
    width: 250px;

}

.card img{
    
    width: 100%;
}


footer {
    background-color: #4B85DB;
    color: #fff;
    text-align: center;

}

footer div p {
    padding: 16px 0;
    margin: 0;
}

@media (min-width: 768px) and (max-width: 991px) {


    .carousel{
        margin: 0 auto;
        width:100%;
        max-height: 348px;
        position: relative;
        overflow-y:hidden;
        
    }
}

@media (max-width: 767px) {

        .carousel{
            margin: 0 auto;
            width:100%;
            max-height: 516px;
            
            position: relative;
            overflow-y:hidden;
            
        }

}